.name-item-page {
  width: 100vw;
  height: 15em;
  text-align: center;
  line-height: 15em;
  background-color: rgba(90, 90, 90, 0.5);
  color: #fff;
}

.name-item-page h2 {
  font-weight: 500;
}

.feature {
  color: var(--color-icon);
  margin: 2em 5em;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  height: 2em;
}

.filter span {
  vertical-align: middle;
}

.filter:hover {
  cursor: pointer;
  color: var(--color-text-hover);
}

.grid-view-container {
  display: flex;
  column-gap: 1em;
}

.change-grid {
  width: 5em;
  color: var(--color-icon);
  border-radius: 0.5em;
  border: 1px solid var(--color-icon);
  cursor: pointer;
  background-color: #fff;
}

.change-grid:hover {
  color: #000;
  border-color: #000;
}

.change-grid.active {
  color: #000;
  border-color: #000;
}

.filter_fast {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 12em;
  border-radius: 1em;
  cursor: pointer;
  border: 1px solid var(--color-icon);
  color: var(--color-icon);
  font-size: 0.9em;
}

.sort {
  display: none;
}

.sort span {
  vertical-align: middle;
}

.product_list {
  margin: 0 5em;
  max-width: 100%;
  /* background-color: antiquewhite; */
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1em;
  margin-bottom: 1em;
  row-gap: 1em;
}

.product_list.grid_active1 {
  grid-template-columns: auto;
}

.product_list.grid_active2 {
  grid-template-columns: auto auto;
}

.product_list.grid_active3 {
  grid-template-columns: auto auto auto;
}

.product_list.grid_active4 {
  grid-template-columns: auto auto auto auto;
}

.product_information {
  height: 30em;
  /* background-color: var(--color-icon); */
  border: 1px solid var(--color-icon);
  border-radius: 0.5em;
  padding: 0.5em;
}

.image-container {
  height: 80%;
  margin-bottom: 1em;
  background: url("https://dreamparty.pk/cdn/shop/products/Foil-Alphabets.jpg?v=1661501386&width=900");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}

.image-container:hover .btn_quick {
  display: flex;
}

.product_name {
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
}

.product_name:hover {
  color: var(--color-text-hover);
}

.price {
  color: var(--color-icon);
}

.intro_describe {
  display: none;
}

.btn_quick {
  display: none;
  width: 50%;
  flex-direction: column;
  row-gap: 0.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quick_shop,
.quick_view {
  padding: 1.2em 2em;
  border-radius: 2em;
  border: none;
  /* background-color: #fff; */
  cursor: pointer;
  font-size: 1em;
}

.quick_view:hover {
  background-color: #000;
}

.quick_shop:hover {
  background-color: #000;
}

.quick_view span {
  display: none;
}

.quick_shop span {
  display: none;
}

.quick_view:hover span {
  display: inline-block;
  font-size: 1em;
  margin: none;
  color: #fff;
}

.quick_shop:hover span {
  display: inline-block;
  font-size: 1em;
  margin: none;
  color: #fff;
}

.quick_view:hover p {
  display: none;
}

.quick_shop:hover p {
  display: none;
}

/* change grid */
.product_information.grid_active1 {
  display: flex;
  height: 15em;
  align-items: center;
  column-gap: 3em;
}

.product_information.grid_active1 .image-container {
  /* display: flex; */
  width: 13%;
  height: 70%;
}

.product_information.grid_active1 .intro_production {
  width: 60%;
}

.product_information.grid_active1 .intro_describe {
  display: inline-block;
  text-wrap: wrap;
  color: var(--color-icon);
}

.product_information.grid_active1 .btn_quick {
  display: flex;
  left: 700%;
  width: 140%;
}

.product_information.grid_active1 .quick_view {
  color: var(--color-text-hover);
  border-color: var(--color-text-hover);
  background-color: #fff;
  border: 1px solid var(--color-text-hover);
}

.product_information.grid_active1 .quick_view:hover {
  background-color: #000;
}

.product_information.grid_active1 .quick_shop {
  color: #fff;
  background-color: var(--color-text-hover);
  box-shadow: 0px 3px 13px 0 var(--color-icon);
}

.product_information.grid_active1 .quick_shop:hover {
  background-color: #000;
}

.product_information.grid_active2 {
  height: 45em;
}

.product_information.grid_active4 {
  height: 22em;
  /* background-color: aqua; */
}

.product_information.grid_active4 .btn_quick {
  width: 70%;
}

@media only screen and (min-width: 250px) and (max-width: 280px) {
  /* filter  */
  .feature {
    margin: 1em 0;
  }

  #grid_3,
  #grid_4 {
    display: none;
  }

  .change-grid {
    width: 3em;
  }

  .filter_fast {
    display: none;
  }

  .sort {
    display: inline-block;
  }

  .product_list {
    margin: 0 1em;
  }

  .intro_describe {
    display: none !important;
  }

  /* grid_1  */
  .product_information.grid_active1 {
    align-items: start;
    column-gap: 2em;
    height: 17em;
  }

  .product_information.grid_active1 .image-container {
    height: 52%;
    width: 40%;
  }

  .product_information.grid_active1 .intro_production {
    width: 60%;
  }

  .product_information.grid_active1 .btn_quick {
    top: 150%;
    left: 150%;
    width: 260%;
  }

  /* grid_2  */
  .product_information.grid_active2 {
    height: 13em;
  }

  .product_information.grid_active2 .intro_production {
    font-size: 0.7em;
  }

  .product_information.grid_active2 .image-container {
    height: 50%;
  }
}

@media only screen and (min-width: 281px) and (max-width: 540px) {
  /* filter  */
  .feature {
    margin: 1em 0;
  }

  #grid_3,
  #grid_4 {
    display: none;
  }

  .change-grid {
    width: 3em;
  }

  .filter_fast {
    display: none;
  }

  .sort {
    display: inline-block;
  }

  .product_list {
    margin: 0 1em;
  }

  .intro_describe {
    display: none !important;
  }

  .product_information.grid_active1 {
    align-items: start;
    column-gap: 2em;
  }

  .product_information.grid_active1 .image-container {
    height: 52%;
    width: 40%;
  }

  .product_information.grid_active1 .intro_production {
    width: 60%;
  }

  .product_information.grid_active1 .btn_quick {
    top: 120%;
    left: 200%;
  }
}

@media only screen and (min-width: 541px) and (max-width: 1000px) {
  .product_list {
    margin: 0.5em;
  }

  /* grid_1  */
  .product_information.grid_active1 .image-container {
    width: 21%;
    /* height: 30%; */
  }

  .product_information.grid_active1 .intro_production {
    width: 40%;
  }

  .product_information.grid_active1 .btn_quick {
    /* width: 150%; */
    left: 410%;
  }

  /* grid_2  */
  .product_information.grid_active2 {
    height: 30em;
  }

  /* grid_3  */
  .product_information {
    height: 22em;
  }

  /* grid_4  */
  .product_information.grid_active4 {
    height: 19em;
  }
  .product_information.grid_active4 .image-container {
    height: 60%;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1270px) {
  /* grid_2  */
  .product_information.grid_active2 {
    height: 32em;
  }

  /* grid_3  */
  .product_information.grid_active3 {
    height: 22em;
  }

  .product_information.grid_active3 .btn_quick {
    width: 90%;
  }

  /* grid_4  */
  .product_information.grid_active4 {
    height: 20em;
  }

  .product_information.grid_active4 .image-container {
    height: 60%;
  }

  .product_information.grid_active4 .btn_quick {
    width: 90%;
  }
}
