/* feedback */
.feedback {
  height: 61em;
  max-width: 100vw;
  margin: 1em 1em;
  background-color: bisque;
  /* background-color: #fff; */
  position: relative;
}

.slider-nav {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  column-gap: 0.5em;
  bottom: 1em;
}

.btn-circle {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0.4;
  cursor: pointer;
  transition: opacity ease 250ms;
}

.btn-circle.active {
  opacity: 1;
}

.btn-circle:hover {
  opacity: 1;
}

.prev,
.next {
  position: absolute;
  color: aliceblue;
  top: 40%;
  font-size: 2em;
  padding: 0.5em 0.1em;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  user-select: none;
  background-color: #000;
  opacity: 0.2;
}

.next {
  right: 0;
  border-radius: 20px 0 0 20px;
}

.prev:hover,
.next:hover {
  opacity: 0.5;
  transition: all 2s;
}

/* review */
.testimonial {
  display: none;
}

.testimonial.active {
  display: flex;
  justify-content: space-around;
}

.evaluation {
  max-width: 32%;
  max-height: 100%;
}

.review blockquote {
  display: inline-block;
  margin: 0.2em 0.2em 0;
  background: #efefef;
  padding: 3em 2em;
  position: relative;
  border: none;
  border-radius: 0.5em;
  font-style: italic;
  box-shadow: 3px 2px 16px 0px rgba(0, 0, 0, 0.2);
}

.review blockquote:before {
  content: "\201C";
  position: absolute;
  font-size: 4.5em;
  line-height: 1;
  color: #757f9a;
  font-size: normal;
  top: 0;
  left: -0.1em;
}

#triangle {
  width: 0;
  height: 0;
  border-left: 20px solid #efefef;
  border-right: 20px solid transparent;
  border-top: 20px solid #efefef;
  border-bottom: 20px solid transparent;
  margin: 0 0 0 60px;
  /* box-shadow: 3px 2px 16px 0px rgba(0, 0, 0, 0.2); */
}

.avatar {
  border-radius: 50%;
}

@media only screen and (min-width: 350px) {
  .feedback {
    /* height: em; */
  }
  .testimonial.active {
    flex-direction: column;
    justify-content: space-between;
    row-gap: 4em;
  }
  .evaluation {
    max-width: 100%;
    margin-top: 0;
  }
}

@media only screen and (min-width: 750px) {
  .testimonial.active {
    flex-direction: row;
  }
  .feedback {
    height: 19em;
  }
}

@media only screen and (min-width: 900px) {
  .feedback {
    height: 22em;
  }
}
